 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 589px;
}

.u-section-1 .u-video-1 {
  height: 449px;
  width: 870px;
  margin: -58px 122px 0 auto;
}

.u-section-1 .u-text-1 {
  width: 680px;
  margin: 17px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
  margin: 14px auto 29px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.6876em;
  margin-right: 24px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-video-1 {
    margin-top: -55px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 14px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-1 .u-video-1 {
    height: 372px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 493px;
  }

  .u-section-1 .u-video-1 {
    height: 300px;
    margin-top: -14px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-bottom: 4px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 415px;
  }

  .u-section-1 .u-video-1 {
    height: 190px;
    margin-top: -32px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 29px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1304px;
}

.u-section-2 .u-group-1 {
  min-height: 314px;
  margin-top: 27px;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0;
}

.u-section-2 .u-text-1 {
  width: 756px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  width: 479px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  margin: 52px 0 0;
}

.u-section-2 .u-list-1 {
  width: 1102px;
  margin: 84px auto 60px;
}

.u-section-2 .u-repeater-1 {
  min-height: 779px;
  grid-template-columns: 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857%;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 10px 10px;
}

.u-section-2 .u-image-1 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-4 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  font-weight: 800;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 10px 10px;
}

.u-section-2 .u-image-2 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-5 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  font-weight: 800;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 10px 10px;
}

.u-section-2 .u-image-3 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-6 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  font-weight: 800;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 10px 10px;
}

.u-section-2 .u-image-4 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-7 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  font-weight: 800;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 10px 10px;
}

.u-section-2 .u-image-5 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-8 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  font-weight: 800;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 0 10px 10px;
}

.u-section-2 .u-image-6 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-9 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  font-weight: 800;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 0 10px 10px;
}

.u-section-2 .u-image-7 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-10 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  font-weight: 800;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-9 {
  padding: 0 10px 10px;
}

.u-section-2 .u-image-8 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-11 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  font-weight: 800;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-10 {
  padding: 0 10px 10px;
}

.u-section-2 .u-image-9 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-12 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  font-weight: 800;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-11 {
  padding: 0 10px 10px;
}

.u-section-2 .u-image-10 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-13 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  font-weight: 800;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-12 {
  padding: 0 10px 10px;
}

.u-section-2 .u-image-11 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-14 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  font-weight: 800;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-13 {
  padding: 0 10px 10px;
}

.u-section-2 .u-image-12 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-15 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  font-weight: 800;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-14 {
  padding: 0 10px 10px;
}

.u-section-2 .u-image-13 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-16 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  font-weight: 800;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-15 {
  padding: 0 10px 10px;
}

.u-section-2 .u-image-14 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-17 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  font-weight: 800;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-16 {
  padding: 0 10px 10px;
}

.u-section-2 .u-image-15 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-18 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  font-weight: 800;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-17 {
  padding: 0 10px 10px;
}

.u-section-2 .u-image-16 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-19 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  font-weight: 800;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-18 {
  padding: 0 10px 10px;
}

.u-section-2 .u-image-17 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-20 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  font-weight: 800;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-19 {
  padding: 0 10px 10px;
}

.u-section-2 .u-image-18 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-21 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  font-weight: 800;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-20 {
  padding: 0 10px 10px;
}

.u-section-2 .u-image-19 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-22 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  font-weight: 800;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-21 {
  padding: 0 10px 10px;
}

.u-section-2 .u-image-20 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-23 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  font-weight: 800;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-22 {
  padding: 0 10px 10px;
}

.u-section-2 .u-image-21 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-24 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  font-weight: 800;
  font-size: 1rem;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 25% 25% 25% 25%;
    min-height: 665px;
  }

  .u-section-2 .u-image-1 {
    height: NaNpx;
  }

  .u-section-2 .u-image-2 {
    height: NaNpx;
  }

  .u-section-2 .u-image-3 {
    height: NaNpx;
  }

  .u-section-2 .u-image-4 {
    height: NaNpx;
  }

  .u-section-2 .u-image-5 {
    height: NaNpx;
  }

  .u-section-2 .u-image-6 {
    height: NaNpx;
  }

  .u-section-2 .u-image-7 {
    height: NaNpx;
  }

  .u-section-2 .u-image-8 {
    height: NaNpx;
  }

  .u-section-2 .u-image-9 {
    height: NaNpx;
  }

  .u-section-2 .u-image-10 {
    height: NaNpx;
  }

  .u-section-2 .u-image-11 {
    height: NaNpx;
  }

  .u-section-2 .u-image-12 {
    height: NaNpx;
  }

  .u-section-2 .u-image-13 {
    height: NaNpx;
  }

  .u-section-2 .u-image-14 {
    height: NaNpx;
  }

  .u-section-2 .u-image-15 {
    height: NaNpx;
  }

  .u-section-2 .u-image-16 {
    height: NaNpx;
  }

  .u-section-2 .u-image-17 {
    height: NaNpx;
  }

  .u-section-2 .u-image-18 {
    height: NaNpx;
  }

  .u-section-2 .u-image-19 {
    height: NaNpx;
  }

  .u-section-2 .u-image-20 {
    height: NaNpx;
  }

  .u-section-2 .u-image-21 {
    height: NaNpx;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 660px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 1783px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    width: 520px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 4903px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 320px;
  }

  .u-section-2 .u-text-2 {
    width: 320px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}